.navbar-brand{
    text-align: center;
    font-family: cursive;
}
.navbar-brand:hover{
    transition-duration: 1s;
    color: crimson;
}
.navbar-expand-lg{
    display: flex!important;
    flex-basis: auto;
    align-items: center;
}
.nav-link:focus{
    font-weight: 500;
    border-bottom: 1px solid blue;
}
.nav{
    box-shadow: 0px 1px 5px gainsboro;
}